<div class="row">
  <div class="col-sm-12">
    <form class="server-form" method="post">
      
      <div class="form-group">
        <label for="textElement">Text</label>
        <textArea class="form-control" id="textElement" name="textElement" placeholder="What's on your mind?">{{textElement}}</textarea>
      </div>
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
          The result is: {{ result }}
        </div>
      </div>
      {{/if}}
    </form>
  </div>
</div>