body {
    background: #FFF8DC;
    font-family: Big Caslon,Cambria,Helvetica,sans-serif,Georgia, "Times New Roman", Times;
    font-size: 15pt;
}

main {
    max-width: 75%;
    margin: auto;
}

h1 {
    color: #74574a;
    margin-bottom: 5px;
    font-size: 2rem;
}

h2, h3, h4, h5, h6 {
    color: #896a51;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
    color:#9a7c66;
}

a {
    text-decoration: none;
    color: #8B475D;
}
a:visited{
    color: #CD919E;
}
address {
    margin-bottom: 5px;
}

.header {
    width: 75%;
    border-bottom: 1px dashed #333;
}

