/*body {
    background: #FFF;
    font-family: Big Caslon,Cambria,Helvetica,sans-serif,Georgia, "Times New Roman", Times;
    font-size: 15pt;
}

main {
    max-width: 75%;
    margin: auto;
}

h1 {
    color: #3b5998;
    margin-bottom: 5px;
    font-size: 2rem;
}

h2, h3, h4, h5, h6 {
    color: #3b5998;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
    color:#000000;
}

a {
    text-decoration: none;
    color: #000000;
}
a:visited{
    color: #000000;
}
address {
    margin-bottom: 5px;
}

.header {
    width: 75%;
    border-bottom: 1px dashed #333;
}
*/

/* Will be changed according to the what the team decides later */
body {
    background: #FFF;
    font-family: Tahoma, Century Gothic, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
    color: #3b5998 ;
}

main {
    max-width: 75%;
    margin: auto;
}

h1 {
    color: #3b5998;
    margin-bottom: 5px;
    font-size: 2rem;
}

label {
    font-size: 13pt;
}

.banner {
    width: 100%;
    background-color: lightblue;
}

.left-banner {
    float: left;
    font-size: 2rem;
}

.user-banner {
    float: left;
    font-size: 1.5rem;
}

.center-banner {
    font-size: 3rem;
}

.container {
    clear: both;
}