<div class="row">
  <div class="col-sm-12">
   <!-- <form class="server-form" method="post">-->
      <form action="/" class="server-form" method="post">
      
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit" formaction="signin/tw" class="btn btn-default">Sign in with Twitter</button>
      </div>
      <div class="form-group">
        <button type="submit" formaction="signin/fb" class="btn btn-default">Log In with Facebook</button>
      </div>
      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
        {{ result }}
        </div>
      </div>
      {{/if}}
    </form>
  </div>
</div>